<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles"></head>

<body>	
<div th:replace="fragments/general.html :: header">Hier komt de hoofding</div>

<h1>Login</h1>
<div th:if="${param.error}">Invalid username and password.</div>
<form th:action="@{/login}" method='POST'>
		<p> Gebruiker: <input type="text" name="username" /></p>
		<p> Paswoord: <input type="password" name="password"/></p>
		<p> <input type="submit" value="Login" /></p>
</form>

<footer th:replace="fragments/general.html :: footer">Hier komt een voeter</footer>
</body>

</html>