<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles"></head>

<body>	
	
<div th:replace="fragments/general.html :: header">Hier komt de hoofding</div>

<h1>Toetsen:</h1>
<table id="punten">
	<tr>
		<th>Vak</th> 
		<th>Score</th>
		<th>Leerkracht</th>
	</tr>
<div th:each="scores : ${session.scores}" clas="score" >
	   <tr>
		   	<div th:if="${scores.getAfwezig() == 0}">
	      		<td th:text="${scores.getToets().getToets_naam()}"></td> 
				<td th:text="${scores.getScore()}" th:class="${scores.getScore() < 5 ? 'red-text' : (scores.getScore() >= 5 && scores.getScore() <= 7) ? 'yellow-text' : 'green-text'}"></td>
				<td th:text="${scores.getToets().getLeerkracht().getNaam()}"></td> 
			</div>
			<div th:unless="${scores.getAfwezig} == 0">
				<td th:text="${scores.getToets().getToets_naam()}"></td> 
				<td th:text="Afwezig"></td>
				<td th:text="${scores.getToets().getLeerkracht().getNaam()}"></td> 
			</div>
	   </tr>
</div>
</table>

<footer th:replace="fragments/general.html :: footer">Hier komt een voeter</footer>

</body>

</html>