<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles"></head>

<body>	
	
<div th:replace="fragments/general.html :: header">Hier komt de hoofding</div>

<h1>Toetsen:</h1>

<ul>
	<li><a href="/leerkracht/toevoegen">Toets toevoegen</a></li>
	<li><a href="/leerkracht/wijzigen">Toets wijzigen</a></li>
</ul>

<footer th:replace="fragments/general.html :: footer">Hier komt een voeter</footer>
</body>


</html>