<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general.html :: headerfiles}"></head>

<body>	
	
<div th:replace="~{fragments/general.html :: header}">Hier komt de hoofding</div>

<h1>Toetsen wijzigen:</h1>

<form th:action="@{/leerkracht/update_score}" th:object="${myForm}" method="post">
	<table id="punten">
		<thead><td>Afwezigen</td><td>Scores</td><td>Toetsnaam</td></thead>
		<tbody>
		<tr th:each="score, i : *{scores}">
			<td> <label th:text="${score.getLeerling().getNaam()}"></label></td>
		  	<td> <input type="number" name="score" th:field="*{scores[__${i.index}__].score}" th:value="${score.getScore()}"  min="-1" max="10"></td>
		  	<input hidden type="number" th:field="*{scores[__${i.index}__].score_id}" th:value="${score.getScore_id()}">
		  	<td><a th:text="${score.getToets().getToets_naam()}"></td>
		</tr>
		</tbody>
	</table>
	<button class="button button3" type="submit">Ingeven</button>
</form>

<footer th:replace="~{fragments/general.html :: footer}">Hier komt een voeter</footer>

</body>

</html>