<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	
<head th:fragment="headerfiles">
<link rel="stylesheet" href="/style.css">
<meta charset="ISO-8859-1">
<title>ScholarView</title>
</head>

<body>
<div th:fragment="header">
	<h1 id="title">ScholarView</h1>
	<nav class="navbar">
	  	<ul>
		  	<li><a href="/home">Home</a></li>
		  	<li><a href="/login">Login</a></li>
		  	<li><a href="/private/berichten">Berichten</a></li>
		  	<li><a href="/private/toetsen">Toetsen</a></li>
		  	<li th:if="${#authorization.expression('isAuthenticated()')}"><form th:action="@{/logout}" method="post"><input type="submit" value="Loguit"></input></form></lith:if="${#authorization.expression('isAuthenticated()')}">
	  	</ul>	  	
	</nav>
</div>
<footer th:fragment="footer">2024 - ScholarView - Aaron Van Campenhout en Arthur Deleu</footer>

</body>
</html>

